snippet /**
options head
  /**
  * ${1:description}
  *
  * @return {${2:returnType}} ${3:returnDescription}
  */

snippet *p
options word
  * @param {${1:paramType}} ${2:paramName}- ${3:paramDescription}

snippet me
options head
  module.exports.${1:key} = ${2:value}

snippet js
options word
  JSON.stringify(${1:object})

snippet {
options word
  {
    ${1:code}
  }

snippet (
options word
  (${1:code})

snippet cl
options word
  console.log(${1:message})
