snippet ///
options head
  /// ${1:description}${0}

snippet ///a
options word
  /// ${1:description}
  ///
  /// # Arguments
  ///
  /// * ${2:argName} - ${3:argDescription}${0}

snippet ad
options word
  /// * ${1:argName} - ${2:argDescription}${0}
