snippet colfrm
options head
  \begin{frame}
    \frametitle{${1:title}}
    \begin{columns}
      \begin{column}{0.5\textwidth}
        ${2:firstcol}
      \end{column}
      \begin{column}{0.5\textwidth}
        ${3:secondcol}
      \end{column}
    \end{columns}
  \end{frame}
